OPENAI_API_KEY=
OPENAI_MAIN_MODEL=gpt-4o-mini
OPENAI_TEMPERATURE=0

MONGO_URI=mongodb://localhost:27017
MONGO_DB=validador_cv

REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0

QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=curriculos
